<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Qwitcher+Grypen:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>Home</title>

</head>

<body>

    <div class="bg bg-img1">
           @await Html.PartialAsync("_navbar")
    </div>
    <div class="caption">
        <span class="border">
            Welcome, This Is My Site
        </span>
    </div>
    </div>
    <div class="box">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ullam minus illo non sed et rem, atque
            minima dignissimos quod odit quidem eum architecto veritatis similique qui tempore? Consequatur, accusamus.
            Voluptatem exercitationem cum possimus commodi voluptate labore amet accusantium esse magnam officia,
            architecto in eligendi beatae voluptatum. Quisquam, hic tempore necessitatibus maxime doloribus commodi vero
            neque maiores dolore, esse totam!
            Necessitatibus aperiam fuga cupiditate omnis quidem optio ipsum dolores doloremque distinctio quibusdam,
            esse iure labore, perspiciatis itaque laborum eaque similique beatae sequi! Quasi quis ad rerum neque
            aliquam delectus omnis!
        </p>
    </div>


    <div class="bg bg-img2">

        <div class="caption">
            <span class="border">
                Welcome, This Is My Site
            </span>
        </div>
    </div>
    <div class="box">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ullam minus illo non sed et rem, atque
            minima dignissimos quod odit quidem eum architecto veritatis similique qui tempore? Consequatur, accusamus.
            Voluptatem exercitationem cum possimus commodi voluptate labore amet accusantium esse magnam officia,
            architecto in eligendi beatae voluptatum. Quisquam, hic tempore necessitatibus maxime doloribus commodi vero
            neque maiores dolore, esse totam!
            Necessitatibus aperiam fuga cupiditate omnis quidem optio ipsum dolores doloremque distinctio quibusdam,
            esse iure labore, perspiciatis itaque laborum eaque similique beatae sequi! Quasi quis ad rerum neque
            aliquam delectus omnis!
        </p>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</html>